---
import { BaseLayout } from "@libdsastro/ui";
import navigation from "../data/navigation.json";
---

<BaseLayout
  title="Linking the Digital Humanities to Biodiversity History in Singapore and Southeast Asia"
  navItems={navigation}
  partnerLogos={[
    {
      altText: "Yale NUS college",
      url: "https://www.yale-nus.edu.sg/",
      image: `${import.meta.env.BASE_URL}assets/YaleNUS.png`,
    },
    {
      altText: "Lee Kong Chian Natural History Museum",
      url: "https://lkcnhm.nus.edu.sg/",
      image: `${
        import.meta.env.BASE_URL
      }assets/CoBrand_LeeKongChian_Museum_V.png`,
    },
    {
      altText: "Asia Research Institute log",
      url: "https://ari.nus.edu.sg/",
      image: `${import.meta.env.BASE_URL}assets/ari-logo.png`,
    },
  ]}
>
  <div
    class={`flex justify-center h-full bg-repeat bg-contain bg-[url('/nuslibraries/dsprojects/sea-biodiversity/assets/background-main.jpg')]`}
  >
    <article class="prose max-w-4xl">
      <img
        src={`${import.meta.env.BASE_URL}assets/banner-main.jpg`}
        alt="banner"
      />

      <h1>About the project</h1>

      <div class="flex space-x-3">
        <div class="w-4/12">
          <img
            class="h-40"
            src={`${import.meta.env.BASE_URL}assets/intro-map.png`}
            alt="intro-map"
          />
          <p>
            This interactive geovisualization platform is created in fulfilment
            of the project on “Linking the Digital Humanities to Biodiversity
            History in Singapore and Southeast Asia”, funded by the Singapore
            Social Science Research Council (SSRTG Type A).
          </p>
        </div>
        <div class="w-4/12">
          <img
            class="h-40"
            src={`${import.meta.env.BASE_URL}assets/intro-pointer.png`}
            alt="intro-pointer"
          />
          <p>
            The platform displays the locality of first published records of
            established animal species (Animal Map) in Singapore from the
            nineteenth century onwards. The Animal Map page contains togglable
            historical maps for reference as well.
          </p>
        </div>
        <div class="w-4/12">
          <img
            class="h-40"
            src={`${import.meta.env.BASE_URL}assets/intro-person.png`}
            alt="intro-person"
          />
          <p>
            You are encouraged to ultilise the platform and the respective map
            layers to gain better understandings and insights of the established
            animal species and their associated historical vectors in Singapore.
          </p>
        </div>
      </div>

      <h1 class="mt-4">Guide to navigate the platform</h1>
      <p>
        The navigation bar near the top of the page consists of three clickable
        tabs (Introduction, Animal Map, Credits) which will redirect you to the
        respective webpages:
      </p>

      <ol>
        <li>
          <strong>Introduction</strong> - This tab will lead you to the current page
          that we are on. This webpage contains information about the project and
          the guide on how to navigate the platform. You may click on this tab to
          return back to this webpage at any time of exploring the platform.
        </li>

        <li>
          <strong>Animal Map</strong> - This tab will lead you to the webpage containing
          the map for first published records of established animal database and
          togglable maps with analysis and historical maps.
        </li>

        <li>
          <strong>Credits</strong> - This tab will lead you to the credits section
          where the acknowledgements are.
        </li>
      </ol>

      <div class="mt-4">
        <p>
          Navigation within the <strong>Animal Map</strong> webpage:
        </p>

        <ol>
          <li>
            <strong>Overview</strong> - The map webpage consists of two main sections
            (the map area on the left and the description and filter option control
            section on the right which includes the map legend).
          </li>

          <li>
            <strong>Map area</strong> on the left - This section contains the view
            of the maps. By default, the established animal species point map is
            kept open. If you wish to hide this layer, there is a filter option at
            the bottom of the section. When points are clicked on, the pop-up windows
            with the details will appear. Click on any area outside the pop-up window
            to close it.
            <img
              src={`${
                import.meta.env.BASE_URL
              }assets/intro-animal-map-area.png`}
              alt="intro-animal-map-area"
            />
          </li>

          <li>
            Description and <strong>filter option control section</strong> on the
            top right - This section contains the description of the map layers and
            interactive components which can be used to filter what is shown on the
            map view. There are a few types of interactive components:

            <ol type="i">
              <li>
                <strong>Toggle switch button</strong> – This interactive component
                allows you to switch from the data table view to the map area view.
                <img
                  class="h-10"
                  src={`${import.meta.env.BASE_URL}assets/intro-filter-1.png`}
                  alt="intro-filter-1"
                />
              </li>

              <li>
                <strong>Year fill-in box</strong> - This interactive component allows
                you to type and adjust in the desired year(s) of interest to show
                on the map area view.
                <img
                  class="h-40"
                  src={`${import.meta.env.BASE_URL}assets/intro-filter-2.png`}
                  alt="intro-filter-2"
                />
              </li>

              <li>
                <strong>Option selection button</strong> - This interactive component
                allows you to select the desired year(s) of interest to show on the
                map area view. Click on it and the button will change to a darker
                shade to show that it is selected.
                <img
                  src={`${import.meta.env.BASE_URL}assets/intro-filter-3.png`}
                  alt="intro-filter-3"
                />
              </li>

              <li>
                <strong>Checkbox</strong> - This interactive component allows you
                to toggle the desired historical map layer(s). Click on it and the
                historical map layer will appear.
                <img
                  src={`${import.meta.env.BASE_URL}assets/intro-filter-4.png`}
                  alt="intro-filter-4"
                />
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </article>
  </div>
</BaseLayout>
